<li>
<span class="name"><%=link_to part.name  " | ", library_piece_part_path %></span>

<%= link_to "Remove Part", {:controller => :parts, :action => 'destroy', :id => part.id }, 
             method: :delete, data: { confirm: "You sure?" }, title: part.id %>
</li>
