<div class="jumbotron">
  <h1>Maestro: Library Management</h1>
  <h2>Library Management Simplified</h2>
  <div class="span7 text-center">
    <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary " %>
  </div>
</div>
